*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}
body{
    background-color: #1e1e1e;
    font-family: sans-serif;
color:#a0a0a0;
line-height: 1.6;
}
.main-container{
display:grid;
max-width: 1200px;
grid-template-columns: 350px 1fr;
gap:40px;
padding-top: 40px;
margin: auto;
}
.side-bar{
    height: 100vh;
    background-color: #2a2a2a;
    border-radius: 16px;
    border: 1px solid #3a3a3a;
    padding:40px;
}
.main-content{    height: 250vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
border-radius: 16px;
}
/*profile*/
.profile img{
    height: 120px;
    width:120px;
    border-radius: 50px;
     border: 1px solid #3a3a3a; 
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}
.profile p{
    background-color:#1e1e1e ;
    color: #ffbf00;
    padding:5px 15px ;
    border: 1px solid #3a3a3a;;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;   
}
.profile{
        text-align: center;
}
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
padding-top: 20px;
}
.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color: #e0e0e0;
    text-decoration: none;
}
.email,.phone{
    margin-top: 14px;
        color: #e0e0e0;
}

/*socialmedia*/
.socialmedia{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
        text-align: center;

}
.socialmedia img{
    height: 25px;
    width: 25px;
    margin-left: 15px;
    filter:grayscale(1)invert(0.7);
    transition: filter 0.3s ease;
}
.socialmedia img:hover{
    filter:grayscale(0) invert(0);
}
#navbar{
    height: 100px;
    border-bottom: 2px solid #3a3a3a;
    padding: 20px 10px;

}
#navbar{
    display: flex;
    justify-content: flex-end;
    gap: 20px;


}
#navbar a{
text-decoration: none;
color: #a0a0a0;
font-weight: 500;
transition: color 0.3s ease;
}
.Active ,#navbar a:hover{
    color:#ffbf00
}
#about{
    color: #e0e0e0;
    margin:15px 15px 15px 15px;

}
.line,.line2,.line3,.line4{
    height:10px;
    width: 100px;
    border-radius: 4px;
    border-bottom:4px solid #ffbf00;
    margin-bottom: 10px;

}
/*skills section*/
#skills{
 color: #e0e0e0;
   margin:15px 15px 15px 15px;

}

.item img{
    height: 48px;
    width: 48px;
    margin-bottom: 15px;
}

.grid-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr)) ;
    gap: 60px;
}
.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
text-align: center;
margin-top: 20px;
transition:transform 0.3s ease,boxshadow 0.3s ease;
}
.item:hover{
transform: scale(1.1);
box-shadow:0px 0px 10px 5px  #1e1e1e;
}
.item h3{
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    text-align: center;
}
/*Education*/
#education{
    margin-top:30px;
}
.efirst{
    margin-bottom: 30px;
    position: relative;
    padding-left: 20px;
}
.etech{
    position: relative;
}
.year{
    font: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;

}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;

}
.college{
    font-style:italic;
color: #a0a0a0;
margin-bottom: 10px;
}
.work{
    color: #a0a0a0;
}
.goal{
    height: 15px;
    border-radius: 50px;
    width: 15px;
    border:3px solid #ffbf00;
    position: absolute;
    top:0px;
    left: 0px;
}
.liner{
    width: 2px;
    position: absolute;
    border:2px solid #3a3a3a;
     top:0px;
    bottom: 0px;
    left:5px;
    z-index: 5px;
}
.project-container{
    display: flex;

    gap: 25px;
margin-left: 30px;
}
.project img{
    height: 180px;
    width: 200px;
    margin-top: 30px;
    object-fit: cover;
}
.project1 img{
    height: 180px;
    width: 200px;
    margin-top: 30px;
    object-fit: cover;

}